.root{
    -fx-background-image: url("//Resources/beach.jpg");
    -fx-text-fill: green;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.3), 10, 0.0 , 0 , 1 );
}

.text-area {
    -fx-background-color:transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}